@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'poppins', 'sans-serif';
}

.chatbox {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.user-message {
  text-align: right;
  background-color: #e0ffe0;
  padding: 5px;
  margin: 5px 0;
}

.bot-message {
  text-align: left;
  background-color: #e0e0ff;
  padding: 5px;
  margin: 5px 0;
}